manifest {
    mainScript = 'main.nf'
    name = 'inv-update-segment-db'
    nextflowVersion = '!>=23.04.1'
}

params {
    input_segments = null
    input_metadata = null
    references = null
    output = 'results'
    intermediate = false

    max_memory                 = '128.GB'
    max_cpus                   = 20
    max_time                   = '16.h'

    help = null
}

// Load base.config
includeConfig 'conf/base.config'

// runinfo
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = false
  file = "${params.output}/logs/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.output}/logs/execution_report_${trace_timestamp}.html"
}

profiles {
    // executors
    local {
        executor {
            name = "local"
        }
    }

    slurm {
        executor {
            name = "slurm"
        }
    }

    // engines
    mamba {
        conda {
            enabled = true
            useMamba = true
        }
    }

    conda {
        conda {
            enabled = true
        }
    }

    // pre-merged
    standard { 
        executor {
            name = "slurm"
        }
        conda {
            enabled = true
            useMamba = true
        }
    }
}
