process {

    cpus   = { 1    * task.attempt  }
    memory = { 6.GB * task.attempt  }
    time   = { 4.h  * task.attempt  }

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2      * task.attempt }
        memory = { 12.GB  * task.attempt }
    }
    withLabel:process_high {
        cpus   = { params.max_cpus    * task.attempt }
        memory = { params.max_memory  * task.attempt }
        time   = { params.max_time    * task.attempt }
    }
    withName:add_align_segments {
        errorStrategy = 'retry'
        maxRetries    = 3
    }
}